.header {
	font-family: 'Sansita', sans-serif;
	color: black;
	font-size: 45px;
	font-border: white 2px;
	text-align: center;
}

.main-section {
 position:relative;
  padding: 10px;
  float: left;
  background: black;
	opacity: .60;
	filter: alpha (opacity=60);
}

.main-section p {
	font-size: 20px;
	font-color: white solid;
}
.main-section img {
	width: 87px;
	height: 125px;
	opacity: 1;
}

h1, h2, h3 {
	text-align: center;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  padding: 1rem;
  background-color: #666666;
  text-align: center;
  border-style: solid;
     border-top: thick double #4aaaa5;
    }

 .container {
  margin: 0 auto;
  width: 2000px;

}